html {
	font-family: "Open Sans";
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.wrapper{
    background: #17191C;
    overflow: hidden;
    min-height: 100%;
}

.wrapper__content {
    position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	width: 1141px;
}

.header__container{
    position: relative;
    height: 100px;  
}

.logo, .menu, .contacts, .menu__item{
    display: inline-block;
}

.logo{
    vertical-align: top;
    position: relative;
    left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-top: 22px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{
    vertical-align: top;
    margin-left: 259px;
    position: relative;
    margin-top: 35px;
    height: 27px;
}

.menu__list{
    height: inherit;
}

.menu__item:first-child{
    position: relative;
    margin-left: 0;
    vertical-align: middle;
}

.menu__item{
    position: relative;
    margin-left: 62px;
    vertical-align: middle;
}

.menu__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.menu__link:hover{
    text-decoration: underline;
    color: #8F00FF;
}

.contacts{
    vertical-align: top;
    position: relative;
    float: right;
    margin-top: 28px;
}

.contacts__phone{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

.contacts__info{
    margin-left: 92px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 6px;
}

.hello__container{
    position: relative;
    margin-top: 106px;
}

.hello__title{
    position: relative;
    width: 637px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
}

.hello__subtitle{
    position: relative;
    margin-top: 20px;
    left: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
}

.button{
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 18px 40px;
    background: #8F00FF;
    border-radius: 5px;
    text-transform: uppercase;
}


.hello__container > .button{
    margin-top: 75px; 
}

.button:hover{
    background: #8F00FF;
    box-shadow: 0 0 25px 0 #9000ff79;
}

.offer__container{
    position: relative;
    margin-top: 193px;
}

.title{
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-left: 3px;
} 

.title--new::after{ 
    content: "";
    background: url(/img/store-new-badges\ 1.png) no-repeat;
    margin-left: 65px;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.offers__list{
    position: relative;
    display: inline-block;
    margin-top: 51px;
}


.offers__item:first-child{
    margin-left: 0px;
}

.offers__item{
    vertical-align: top;
    position: relative;
    margin-left: 22px;
    display: inline-block;
    width: 362px;
    min-height: 449px;
    background-color: #fff;
    border-radius: 5px;
}

.offers__img{
    min-height: 144px;
    position: relative;
}

.offers__title{
    position: relative;
    color: #17191C;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-top: 32px;
    margin-left: 20px;
}

.offers__features{
    margin-top: 20px;
    margin-left: 25px;
}

.offers__feature{
    display: inline-block;
}

.offers__feature:first-child{
    margin-right: 50px;
}

.offers__feature-icon{
    display: inline-block;
    vertical-align: middle;
    color: #17191C;
}

.offers__feature-text{
    vertical-align: middle;
    display: inline-block;
    color: #17191C;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 8px;
}

.offers__text{
    color: #17191C;
    margin-top: 24px;
    margin-left: 21px;
    width: 324px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.offers__content > .button {
    padding: 17px 30px 17px 30px;
    margin-top: 24px;
    margin-left: 21px;
}

.button--light{
    color: #8F00FF;
    background-color: #fff;
    border: 1px solid #8F00FF;
}

.button--light:hover{
    color: #fff;
}

.news__container{
    margin-top: 123px;
}

.news__container > .title{
    margin-left: 1px;
}

.news__list{
    display: inline-block;
    margin-top: 51px;
}

.news__item{
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 557px;
    min-height: 394px;
    border-radius: 4px;
}

.news__item:first-child{
    background: url(/img/kto_gde_kviz__moskva_1_qg_large\ 1.png) no-repeat;
    margin-right: 22px;
}

.news__item:last-child{
    background: url(/img/Mask\ Group.png) no-repeat;
}

.news__item-content{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 23px 51px 23px 28px;
    min-height: 152px;
}

.news__item-date{
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.news__title{
    position: relative;
    margin-top: 11px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.news__item-text{
    position: relative;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.paginator{
    position: relative;
    margin-top: 58px;
    display: inline-block;
    width: 1141px;
    text-align: center;
}

.paginator__display, .paginator__item, .paginator__list{
    display: inline-block;
}

.paginator__display{
    vertical-align: middle;
    position: relative;
    margin-right: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.paginator__item{
    position: relative;
    vertical-align: middle;   
    margin-right: 3px;
}

.paginator__item:last-child{   
    margin-right: 0;
}

.paginator__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.paginator__link:hover{
    background-color: #8F00FF;
}


.paginator__link--active{
    background: #8F00FF;
}

.about__container{
    position: relative;
    margin-top: 143px;
}

.about__picture{
}

.about__container > .about__us{
    position: absolute;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    top: 97px;
    left: 353px;
    width: 785;
    height: 455;
    padding: 69px 204px 66px 79px;
}

.about__us-text{
    position: relative;
    margin-bottom: 43px;
    width: 502px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.button--white{
    border: 1px solid white;
}

.footer{
    margin-top: 104px;
}

.about__us > .title{
    margin-bottom: 38px;
}

.footer__container{
    position: relative;

    height: 150px;
}

.footer__container > .logo{
    top: 19px;
    vertical-align: top;
    position: relative;
}

.footer__container > .menu{
    top: 19px;
    vertical-align: top;
    position: relative;
    margin-left: 126px;
}

.social{
    margin-left: 110px;
    top: 50px;
    display: inline-block;
    position: relative;
}

.social__list{
    position: relative;
}

.social__item{
    margin-left: 6px;
    display: inline-block;
}

.social__item:first-child{
    margin-left: 0;
}

.footer__contact{
    top: 42px;
    right: 0;
    display: inline-block;
    position: absolute;
}

.footer__contact-text{
    margin-left: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

.footer__contact > .contacts__phone{
    display: inline-block;
    margin-top: 0;
}

.wrapper__main--background{
    background: url(../../img/nbgB77C1HAg\ 1.png) center top no-repeat, url(../../img/56278948-888x544\ 2.png) center bottom -100px no-repeat;
}