html {
	font-family: "Open Sans";
	font-size: 16px;
}
/*шаблон*/
body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.wrapper{
    background: #17191C;
    overflow: hidden;
    min-height: 100%;
}

.wrapper__content {
    margin: 0 auto;
    position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	width: 1141px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 582px;
    margin-bottom: 192px;
}

.header{
    margin: 0 auto;
	width: 100%;
	height: 100%;
	width: 1141px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 30px;
}

.header__container{  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__container--left{
    width: 720px;
}

.header__container--right{
    justify-content: flex-end;
}

.logo{
    display: flex;
    vertical-align: top;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    background: linear-gradient(87.62deg, #8F00FF -2.44%, #00A3FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu{
    display: flex;
    height: 27px;
}

.menu__list{
    height: inherit;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.menu__item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.menu__link:hover{
    text-decoration: underline;
    color: #8F00FF;
}

.contacts{

}

.contacts__phone{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

.contacts__info{
    margin-left: 92px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 6px;
}

.hello__container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.hello__container:nth-child(3){
    justify-content: flex-end;
}

.hello__text-section{
    width: 56%;
}

.hello__title{
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 18px;
}

.hello__subtitle{
    display: flex;
    margin-left: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 75px;
}

.button{
    display: flex;
    width: 167px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    padding: 18px 40px;
    background: #8F00FF;
    border-radius: 5px;
    text-transform: uppercase;
}

.button:hover{
    background: #8F00FF;
    box-shadow: 0 0 25px 0 #9000ff79;
}

.offer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-left: 3px;
} 

.title--new::after{ 
    display: flex;
    content: "";
    background: url(./../../img/store-new-badges\ 1.png) no-repeat;
    margin-left: 10px;
    margin-top: 5px;
    width: 45px;
    height: 45px;
    position: relative;
}

.offers__list{
    position: relative;
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
}

.offers__list:nth-child(2){
    flex: 1;
}


.offers__item{
    display: flex;
    width: calc(100%/3 - 18px);
    min-height: 440px;
    background-color: #fff;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.offers__img{
    min-height: 144px;
    display: flex;
}

.offers__content{
    display: flex;
    flex-direction: column;
    padding: 32px 20px 26px;
    flex: 1;
    min-height: 305px;
}

.offers__title{
    display: flex;
    color: #17191C;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 21px;
}

.offers__features{
    width: 91%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
}

.offers__feature{
    display: flex;
}


.offers__feature-icon{
    display: flex;
    align-items: center;
    color: #17191C;
}

.offers__feature-text{
    display: flex;
    align-items: center;
    color: #17191C;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 8px;
}

.offers__text{
    color: #17191C;
    width: 324px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
}

.offers__content > .button {
    width: 135px;
    padding: 17px 30px 17px 30px;
    margin-left: 2px;
    margin-top: auto;
}

.button--light{
    color: #8F00FF;
    background-color: #fff;
    border: 1px solid #8F00FF;
}

.button--light:hover{
    color: #fff;
}

.news__container{
    margin-top: 127px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 305px;
}

.news__container > .title{
    margin-left: 1px;
}

.news__list{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    margin-top: 51px;
}

.news__item{
    position: relative;
    display: flex;
    width: 557px;
    align-items: center;
    min-height: 394px;
    border-radius: 4px;
}

.news__item:first-child{
    background: url(./../../img/new_year_kviz.png) no-repeat;
}

.news__item:last-child{
    margin-right: 0;
    background: url(./../../img/marte_game.png) no-repeat;
}

.news__item-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 557px;
    padding: 23px 40px 25px 28px;
    min-height: 152px;
}

.news__item-date{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.news__title{
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.news__item-text{
    display: flex;
    position: relative;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    width: 95%;
}

.paginator{
    margin-top: 53px;
    display: flex;
    width: 1141px;
    justify-content: center;
    align-items: center;
}

.paginator__display, .paginator__list{
    display: flex;
}

.paginator__display{
    align-items: center;
    margin-right: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 125px;
}

.paginator__list{
    justify-content: space-between;
    align-items: center;
    width: 228px;
}

.paginator__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.paginator__link:first-child{
    margin-left: 0;
}

.paginator__link:hover{
    background-color: #8F00FF;
}


.paginator__link--active{
    background: #8F00FF;
}

.about__container{
    position: relative;
    margin-top: 145px;
}

.about__container > .about__us{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), #212121;
    top: 97px;
    left: 353px;
    width: 785;
    height: 459px;
    padding: 72px 204px 68px 78px;
}

.about__us-text{
    margin-left: 3px;
    width: 502px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.button--white{
    margin-left: 3px;
    width: 169px;
    padding: 18px 34px 18px 39px;
    border: 1px solid white;
}

.button--white:hover{
    box-shadow: 0 0 25px 0 #e1dee4d3;
}

.footer{
    margin: 104px auto 0;
}

.footer__container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 135px;
}

.container__content{
    display: flex;
    justify-content: space-between;
    width: 876px
}

.navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 587px;
}

.footer__container > .logo{
    display: flex;
}

.footer__container > .menu{
    display: flex;
    align-items: center;
}

.social{
    display: flex;
    align-items: center;
    width: 175px;
}

.social__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

.social__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contact{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.footer__contact-text{
    margin-left: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
}

.footer__contact > .contacts__phone{
    display: inline-block;
    margin-top: 0;
}

/*
.wrapper__main--background{
    background: url(/img/top_fone_picture.png) center top no-repeat, url(/img/bottom_fone_picture.png) center bottom -100px no-repeat;
}
*/

.fone-top{
    margin: 0 auto;
    width: 100%;
	height: 100%;
	width: 1920px;
    filter: grayscale(1);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.fone-bottom{
    margin: 0 auto;
    width: 100%;
	height: 100%;   
	width: 1920px;
    filter: grayscale(1);
    position: absolute;
    top: 116%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

